<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathDes" value="C:\Configuraciones\Repositorio\" />
    <add key="Puerto" value="11100"></add>
    <add key="PathBitacora" value="C:\Bitacora\" />
    <add key="ConfigDirectory" value="C:\Configuraciones\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>